# Flutter/Dart
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/
.idea/
.vscode/
*.iml

# Android
android/.gradle/
android/captures/
android/.settings/
android/.project
android/.classpath
android/local.properties
android/gradle.properties

# iOS
ios/Flutter/.last_build_id
ios/Pods/
ios/Runner.xcworkspace/
ios/.symlinks/
ios/Flutter/ephemeral/

# macOS
macos/Flutter/ephemeral/
macos/Pods/
macos/Runner.xcworkspace/

# Web
web/.dart_tool/
web/.idea/

# VS Code & IntelliJ
*.log
*.tmp
*.swp
*.DS_Store
*.orig
*.lock

# Firebase/Keys (если используешь)
.env
.env.*
google-services.json
GoogleService-Info.plist